<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignIn.Maui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SignIn.Maui.Properties.Settings>
            <setting name="ServiceUri" serializeAs="String">
                <value>https://app.stage.connect.trimble.com/tc/api/2.0/</value>
            </setting>
        </SignIn.Maui.Properties.Settings>
    </applicationSettings>
</configuration>