<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="C:\Users\aswinrv\.nuget\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="Trimble Artifactory" value="https://artifactory.trimble.tools/artifactory/api/nuget/trimble-connect-nuget/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>
