<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Trimble.Connect.Client" version="2.0.279-beta" targetFramework="net45" />
  <package id="Trimble.Diagnostics" version="1.0.10" targetFramework="net45" />
  <package id="Trimble.Identity" version="1.1.5" targetFramework="net45" />
  <package id="Trimble.WebUI" version="1.0.4" targetFramework="net45" />
</packages>