<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.28" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.1.28" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.55.0" targetFramework="net45" developmentDependency="true" />
  <package id="System.Text.Encodings.Web" version="4.3.1" targetFramework="net45" />
  <package id="Trimble.Connect.Client" version="2.6.4-beta" targetFramework="net45" />
  <package id="Trimble.Connect.Client.Common" version="1.0.51-beta" targetFramework="net45" />
  <package id="Trimble.Connect.PSet.Client" version="2.0.20-beta" targetFramework="net45" />
  <package id="Trimble.Diagnostics" version="2.0.13" targetFramework="net45" />
  <package id="Trimble.Identity" version="1.2.0" targetFramework="net45" />
  <package id="Trimble.Identity.OAuth" version="1.0.14" targetFramework="net45" />
  <package id="Trimble.Identity.OAuth.AuthCode" version="1.0.17" targetFramework="net45" />
  <package id="Trimble.WebUI" version="1.1.17" targetFramework="net45" />
</packages>